@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');



.item {
        width: 150px;
        height: 200px;
        opacity: 1;
        cursor: pointer;
        background-color: #782221 ;
        border: 5px solid #443ea0;
        border-radius: 8px;
        margin: 150px;
        padding: 150px;
        color: white;
        font-size: 24px;
        text-align: center;
        left: 370px;
        position: relative;


}       

.item2 {
        width: 350px;
        height: 200px;
        opacity: 1;
        cursor: pointer;
        background-color: white ;
        border: 5px solid #443ea0;
        border-radius: 8px;
        margin: 150px;
        padding: 150px;
        color: black;
        font-size: 24px;
        text-align: center;
        left: 75px;
        position: relative;
        font-family: Raleway;
}



div {
	text-align:center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;


        

	}

div#bandeau {

        width:1160px;
        height:280px;
        background-color:#782221;
        color:white;

        
        }

div#bandeau2 {

        width: 1160px;
        height: 110px;
        background-color: #2c1d27;
        color: white;
        font-family: Raleway;

        

}

div#bandeau3 {

        width: 150px;
        height: 40px;
        background-color: #dbc2a4;
        position: relative;
        top: -200px;
        left: -1170px;
        font-family: Raleway;
        
}



div#bandeau4 {

        width: 150px;
        height: 40px;
        background-color: #dbc2a4;
        position: relative;
        top: 50px;
        left: -1320px;
        font-family: Raleway;
}


div#bandeau5 {

        width: 150px;
        height: 40px;
        background-color: #dbc2a4;
        position: relative;
        top: 150px;
        left: -1470px;
        font-family: Raleway;
}




div#piedpage {

        width:1160px;
        height:550px;
        background-color:#782221;
        clear:both;

        }


#conteneur {

        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;

        
        


}




img {
        clip-path:ellipse(37% 50%);
}



